@charset "UTF-8";
/* CSS dokument */

/* Defining variables and setting height */
html,body {
    --brand-color: #525b53;
    --brand2-color: #3f444b;
    --txt-color: #000000;
    --white-color: #ffffff;
}

h2, h3, p {
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
}

h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.txt_header {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.bg-footer {
    background-color: var(--brand-color);
    padding: 50px, 20px;
}
.container-footer {
    width: 100%;
    align-content: center;
    align-items: center;
}
.section-footer {
    text-align: center;
    color: var(--white-color);
    padding-top: 16px;
}

/* Making images responsive */
.responsive-img {
    width: 100%;
    height: auto;
}

/* Tablet menu */
@media only screen and (min-width: 700px) {
}

/* Desktop menu */
@media only screen and (min-width: 960px) {
}